---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    fluxcd.io/automated: "true"
    fluxcd.io/tag.sleep: semver:~3.10.1
  labels:
    app: archiver
    component: archiver-api
    env: nonprod
  name: archiver-api
  namespace: archiver
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: archiver
      component: archiver-api
      env: nonprod
  template:
    metadata:
      labels:
        app: archiver
        component: archiver-api
        env: nonprod
    spec:
      containers:
      - args: []
        command: []
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              key: database_url
              name: archiver
        image: nhyne/archiver-api:v0.0.0-test-tag
        name: rust
        ports:
        - containerPort: 8000
          name: http
          protocol: TCP
        volumeMounts: []
      initContainers:
      - args:
        - "30"
        command:
        - sleep
        env: []
        image: alpine:3.10.2
        name: sleep
        ports: []
        volumeMounts: []
      serviceAccountName: default
