apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: rust
    component: archiver-api
    env: nonprod
  name: archiver-api
  namespace: archiver
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: rust
      component: archiver-api
      env: nonprod
  template:
    metadata:
      labels:
        app: rust
        component: archiver-api
        env: nonprod
    spec:
      containers:
      - args: []
        env:
        - name: DATABASE_URL
          value: postgres://something:somethingelse@postgres:5432/archiver
        image: nhyne/archiver-api:0.0.1-alpha
        name: rust
        ports:
        - name: http
          port: 443
          protocol: TCP
          targetPort: 8000
      serviceAccountName: default
