apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: user
    component: user-api
    env: prod
  name: user-api
  namespace: user
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: user
      component: user-api
      env: prod
  template:
    metadata:
      labels:
        app: user
        component: user-api
        env: prod
    spec:
      containers:
      - args: []
        command: []
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              key: database_url
              name: user-db-pass
        image: nhyne/user-api:v0.1.1-alpha.1
        name: rust
        ports:
        - containerPort: 8001
          name: http
          protocol: TCP
        volumeMounts: []
      initContainers: []
      serviceAccountName: default
