apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: user
    component: user-api
    env: prod
  name: user-api
  namespace: user
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: user
      component: user-api
      env: prod
  template:
    metadata:
      labels:
        app: user
        component: user-api
        env: prod
    spec:
      containers:
      - args: []
        command: []
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              key: database_url
              name: user
        image: nhyne/user-api:0.0.1-alpha
        name: rust
        ports:
        - containerPort: 8001
          name: http
          protocol: TCP
        volumeMounts:
        - mountPath: /etc/ssl/certs/
          name: tls-certs
          readOnly: false
      initContainers: []
      serviceAccountName: default
      volumes:
      - name: tls-certs
        readOnly: true
        secret:
          secretName: rocket-tls
