apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    fluxcd.io/tag.rust: semver:~0.1
  labels:
    app: archiver
    component: archiver-api
    env: prod
  name: archiver-api
  namespace: archiver
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: archiver
      component: archiver-api
      env: prod
  template:
    metadata:
      labels:
        app: archiver
        component: archiver-api
        env: prod
    spec:
      containers:
      - args: []
        command: []
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              key: database_url
              name: archiver
        image: nhyne/archiver-api:0.1.1-beta.4
        name: rust
        ports:
        - containerPort: 8000
          name: http
          protocol: TCP
        volumeMounts: []
      initContainers: []
      serviceAccountName: default
